/********************************************
* Author: Peter Look II
* File: layout.css
* Project: Production_Line_OOP_FXDD
* Date created: 9/27/2019
*********************************************/


* {
  dark-primary-color: #00796B;
  default-primary-color: #009688;
  light-primary-color: #B2DFDB;
  text-primary-color: #FFFFFF;
  accent-color: #9E9E9E;
  primary-text-color: #212121;
  secondary-text-color: #757575;
  divider-color: #BDBDBD;
}

.root {
  -fx-background-color: dark-primary-color;
}

.button {
  -fx-font: 14px "Arial";
  -fx-text-fill: text-primary-color;
  -fx-padding: 5;
  -fx-background-color: accent-color;
  -fx-effect: dropshadow(one-pass-box, black, 14, 0.0, 6, 0);
  -fx-background-radius: 6;
  -fx-font-weight: bold;
}

.button:hover {
  -fx-scale-y: 1.1;
  -fx-font-family: Lato;
  -fx-font-size: 15;
  -fx-text-fill: #ffffff;
  -fx-font-weight: bold;
}

.button:pressed {
  -fx-scale-y: 1;
  -fx-scale-x: 1;
  -fx-font-weight: bold;
  -fx-font: 14px "Arial";
}

.label {
  -fx-font: 14px "Arial";
  -fx-text-fill: primary-text-color;
  -fx-text-alignment: center;
}

.choice-box {
  -fx-font: 14px "Arial";
  -fx-text-alignment: center;
  -fx-text-fill: black;
}

.table-view {
  -fx-font: 14px "Arial";
  -fx-text-fill: accent-color;
  -fx-background-color: light-primary-color;
}

.table-view .column-header-background {
  -fx-background-color: transparent;
}

.table-view .column-header,
.table-view .column-header-background .filler {
  -fx-background-color: default-primary-color;
}

.table-view .column-header .label {
  -fx-text-fill: white;
  -fx-font-weight: bold;
  -fx-alignment: CENTER_LEFT;
}

.table-view .column-header .label:pressed {
  -fx-font: 15px "Arial";
  -fx-font-weight: bold;
}

.table-view .column-header .label:hover {
  -fx-text-fill: black;
}

.table-view .column-header-background .label {
  -fx-background-color: dark-primary-color;
}

.tab-pane .tab {
  -fx-background-color: light-primary-color;
}

.tab-pane .tab:selected {
  -fx-background-color: default-primary-color;
}

.list-view .content {
  -fx-background-color: transparent;
}

.text-area .content {
  -fx-background-color: light-primary-color;
}

.text-field {
  -fx-background-color: light-primary-color;

}

.text-field:focused {
  -fx-background-color: #a9a9a9, white, white;
  -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
  -fx-background-color: light-primary-color;
  -fx-text-fill: text-primary-color;
}

.list-view {
  -fx-background-color: light-primary-color;
}

.list-cell:filled:hover {
  -fx-background-color: dark-primary-color;
  -fx-text-fill: text-primary-color;
}

